              

<header class="main-header">
      <div id="header">


             <h1 id="logo" class="image-logo">
                                                
                                                <%= link_to(image_tag("image-logo.png", :alt => "logo", :class=>"images", :size =>"200x91"), "/", :class=>"links", :id=>"logo_link") %>
              </h1>
        <!-- END #logo -->
        <div class="secondary-navigation">
          <nav id="navigation">
            <ul id="menu-main" class="menu">
              <li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-page"><a title="Tools Used" href="welcome.html">Home<br /><span class="sub"></span></a></li>
              <li id="menu-item-799" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="podcast.html">Podcast<br /><span class="sub"></span></a></li>
<li id="menu-item-799" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="articles.html">Articles<br /><span class="sub"></span></a></li>

              <li id="menu-item-825" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="contact.html">Contact<br /><span class="sub"></span></a></li>
<li id="menu-item-815" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="about.html">About</a>
        

<span class="sub"></span>

            </ul> <a href="#" id="pull">Menu</a>
          </nav>
        </div>
      </div>
    </header>





